#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.blog-container {
  min-height: 100vh;
  background-color: #a1a5cc;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.navigation {
  margin-top: 2rem;
}

.navigation a {
  color: #333;
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 2rem;
}

.navigation a:hover {
  text-decoration: underline;
}

.page {
  padding: 1rem 0;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}