.image-home {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home-image {
  position: relative;
  max-width: 60%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.image-4 {
  width: 100%;
}