.image-collage {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 4rem;
  }
  
  .collage-image {
    position: absolute;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease; */
  }
  
  /* .collage-image:hover {
    transform: scale(1.08);
  } */
  
  .image-1 {
    top: 0;
    left: 10%;
    z-index: 3;
    transform: rotate(-5deg);
  }
  
  .image-2 {
    top: 25px;
    left: 35%;
    z-index: 2;
    transform: rotate(3deg);
  }
  
  .image-3 {
    top: 50px;
    left: 60%;
    z-index: 1;
    transform: rotate(-2deg);
  }